<img ng-src="{{model.user.profile_image_url_https}}" alt="" class="circle">

<div class="title">{{model.user.screen_name}}</div>
<small>{{model.created_at}}</small>
<p>{{model.text}}</p>

<small ng-show="{{showCtrl}}">Responded by: {{model.response.name}}</small><br/>
<small ng-show="{{showCtrl}}">Response: {{model.response.message}}</small>

<a class="waves-effect waves-light btn" ng-click="makeAnswered(model)" ng-show="!isBeingAnswered() && !isAnswered() && {{showCtrl}}">
  Answer
</a>

<a class="waves-effect waves-light btn disabled" ng-show="isBeingAnswered() && {{showCtrl}}">
  In progress
</a>

<a class="waves-effect waves-light btn" ng-click="makeUnanswered(model)" ng-show="isAnswered() && {{showCtrl}}">
  Un-answer
</a>
