<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" ui-sref="rt.workspace" class="brand-logo">Real Time PoC</a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="rt.queue">Queue</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a ui-sref="rt.queue">Queue</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="container">
  <div class="section" ui-view>
  </div>
</div>
